<div class="card mt-5">
    <div class="card-body">
      <form #productForm = "ngForm" (ngSubmit)="onSubmit(productForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
          <div class="form-group">
            <input
            type="text"
            class="form-control"
            name="name"
            #name="ngModel"
            [(ngModel)]="productService.selectedProduct.name"
            placeholder="Agrega un nombre de producto"
            >
          </div>

          <div class="form-group">
              <input
              type="text"
              class="form-control"
              name="category"
              #category="ngModel"
              [(ngModel)]="productService.selectedProduct.category"
              placeholder="Agrega una categoria de producto"
              >
            </div>

            <div class="form-group">
                <input
                type="text"
                class="form-control"
                name="location"
                #location="ngModel"
                [(ngModel)]="productService.selectedProduct.location"
                placeholder="Agrega una localizacion de producto"
                >
              </div>

              <div class="form-group">
                  <input
                  type="text"
                  class="form-control"
                  name="price"
                  #price="ngModel"
                  [(ngModel)]="productService.selectedProduct.price"
                  placeholder="Agrega un precio del producto"
                  >
                </div>

               <div class="form-group">
                  <button class="btn btn-primary" type="submit">
                      <i class="fas fa-plus-circle">Agregar Producto</i>
                  </button>
                  <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
                    <i class="fas fa-sync-alt">reset</i>
                  </button>
               </div>


      </form>
    </div>
</div>
